
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: "Roboto","Arial",sans-serif;
    font-size: 15px;
    line-height: normal;
    font-weight: 400;
    color: rgb(3, 3, 3);
    max-height: 4rem;
    overflow: hidden;
}

.icons{
    color: rgb(96, 96, 96);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}

.header__left{
    display: flex;
    align-items: center;
}

.header__left img{
    width: 100px;
    margin-left: 15px;
}

.header i{
    padding: 0px 7px;
    cursor: pointer;
}

.header__search{
    border: 1px solid #ccc;
    margin-right: 15px;
    height: 35px;
    margin: 0px;
    padding: 0px;
    display: flex;
    margin-bottom: 1px;
   
}


.header__search input{
    width: 500px;
    margin: 0;
    border-radius: 0;
    border: 0;
    background: transparent;
    outline: 0;
}
.header__search button{
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: 0;
}

.header__search placeholder{
    position: center;
}

.mainBody{
    height: calc(100vh - 70px);
    display: flex;
    overflow: hidden;
}

.sidebar{
    height: 100%;
    width: 230px;
    background-color: aliceblue;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
}

.sidebar__categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sidebar__category{
    display: flex;
    align-items: center;
    padding: 12px 25px;
}

.sidebar__category span{
    margin-left: 15px;
}

.sidebar__category:hover{
    background: #e5e5e5;
    cursor: pointer;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

hr{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}

.videos__container{
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.video{
    width: 312px;
    max-width: 312px;
    margin: 10px;
    margin-bottom: 30px;
}

.video__thumbnail{
   width: 100%;
   height: 175px;
   object-fit: cover;
}


.video__details{
    display: flex;
    flex-direction: row;
   
}

.author {
    display: inline-block;
    display: flex;
}

.author img{
    object-fit: cover;
    border-radius: 60%;
    height: 40px;
    width: 40px;
    margin-right: 20px;
   
}

.video__details{
    display: flex;
    margin-top: 15px;

}

.title{
    flex-direction: column;
    font-family: "Roboto","Arial",sans-serif;
}

.title h3{
    display: flex;
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 15px;
    margin-bottom: 6px;
    display: flex;
}

.title a{
    opacity: 60%;
}